*{
	box-sizing: border-box;
	}

body{
	padding: 0px;
	margin: 0px;
	}

.info-bull{
	display: none;
	position: absolute;
	top: 160px;
	padding-top: 20px;
	margin-left: 25%;
	background-color: white;
	border:2px solid lime;
	border-radius: 9px;
	width: 50%;
	}

#label,  #p-gmail{
	width: 100%;
	text-align: center;
	font-weight: bold;
	}

#bt-coppy{
	display: block;
	width: 100px;
	height: 50px;
	background-color: CornflowerBlue;
	color: white;
	margin: auto;
	border: 3px solid lime;
	}

#img-valide{
	width: 20px;
	position: relative;
	bottom: -3px;
	margin-right: 5px;
	}

#msg{
	visibility: hidden;
	display: block;
	width: 160px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	}

#img-logo{
	display: block;
	width: 200px;
	margin-left: auto; 
	margin-right: auto;
	}

.contenu{
	background-color: #5F9EA0;
	padding: 20px 0px;
	margin: 0px;

	}

#subscribe{
	color: white;
	text-align: center;
	font-family: Comfortaa;
	letter-spacing: 4px;
	font-size: 3vw;
	padding: 20px 0px 10px;
	}

.links{
	text-decoration: none;
	color: black;
	padding: 0px;
	border: 0px;
	width: 60%;
	height: 50px;
	display: block;
	margin: auto;
	background-color: white;
	}

.icons{
	float: left;
	height: 50px;
	}

#titre{
	position: relative;
	text-align: center;
	padding: 16px 0px;
	margin: 0px;
	left: -25px;
	font-family: Alatsi;
	}

button{
	vertical-align: middle;
	}

.paragraphs{
	font-size: 2vw;
	text-align: center;
	letter-spacing: 1px;
	line-height: 10px;
	}

#important{
	font-size: 3.5vw;
	display: block;
	font-family: Yanone Kaffeesatz;
	margin: auto;
	width: 60%;
	margin-top: 30px;
	letter-spacing: 0.5vw;
	}

.bottom{
	font-family: Comfortaa;
	font-size: 16px;
	}

@media only screen and (min-width: 1440px){
	.info-bull{
		top: 200px;
		}
}

@media only screen and (max-width: 600px){
	.phone-9 {width: 75%;}
	.phone-11 {width: 91.66%;}
	.phone-12 {width: 100%;}
	
	.info-bull{
		margin-left: 12.5%;
	}
	
	.links{
		margin-left: 4.33%;
	}
	
	#subscribe{
		font-size: 5vw;
		padding: 15px 0;
		}
	
	#important{
		margin-left: 4.33%;
		font-size: 18px;
	}
	
	.paragraphs{
		font-size: 3vw;
		letter-spacing: 1px;
		word-spacing: 0px;
		}
	
	#label, #p-gmail{
		margin-bottom: 10px;
		}
} 